.app_container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 8px;
    max-width: 1800px;
}

.menu {
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    padding: 10px 50px;
}

.menu ul {
    margin: 0;
    padding: 0;
}

.menu li {
    list-style-type: none;
}

.app_content {
    min-height: 800px;
    background: rgba(255, 255, 255, 0.6);
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}





