.app_container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.menu {
    position: fixed;
    top: 75px;
    left: 0;
}

.menu ul {
    padding: 10px;
}

.menu li {
    list-style-type: none;
}

.app_content {
    margin-left: 250px;
}





