.header_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: rgba(255, 255, 255, 1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 30px 0 20px 45px;
}

.menu li {
    display: inline-block;
    border-right: 2px solid #525457;
    padding: 0 10px;
    font-size: 1.2rem;
}

.menu li:last-child {
    border-right: none;
}

.menu a {
    color: #525457;
}

.item_active {
    text-decoration: underline;
}

.login {
    margin: 30px 45px 0 0;
}

.login a {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.login img {
    display: inline-block;
    position: relative;
    width: 25px;
    margin-right: 5px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.login li {
    display: inline-block;
    margin-right: 5px;
}


