.header_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: rgba(255, 255, 255, 1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    margin: 30px 0 20px 45px;
}

.menu_main {
    list-style: none;
    text-align: center;
}
.menu_main li {
    display: inline-block;
    padding: 0 10px;
    border-right: 2px solid #525457;
}

.menu_main li:last-child {border: none;}
.menu_main a {
    text-decoration: none;
    position: relative;
    font-size: 1.2rem;
    display: inline-block;
    transition: color .2s;
}

.menu_main a.current {color: #fe9017;}
.menu_main a:before,
.menu_main a:after {
    content: "";
    position: absolute;
    height: 4px;
    top: auto;
    right: 50%;
    bottom: -5px;
    left: 50%;
    background: #fe9017;
    transition: .8s;
}
.menu_main a:hover:before, .menu_main .current:before {left: 0;}
.menu_main a:hover:after, .menu_main .current:after {right: 0;}

.drop_down {
    position: relative;
}

.drop_down:hover .sub_menu {
    opacity: 1;
    visibility: visible;
}

.sub_menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    list-style: none;
    left: -100%;
    top: 40px;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 8px;
    z-index: 99;
    padding: 0 0 5px 0;
    transition: all .3s ease .15s;
}

.sub_menu li {
    border: none;
    min-width: 200px;
    padding: 5px 40px;
}

.login {
    margin: 30px 45px 0 0;
}

.login a {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.login img {
    display: inline-block;
    position: relative;
    width: 25px;
    margin-right: 5px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.login li {
    display: inline-block;
    margin-right: 5px;
}

.mobile_menu {
    display: none;
}

@media only screen and (max-width : 480px) {

    .logo {
        margin: 20px 0 10px 35px;
    }

    .menu_main {
        display: none;
    }

    .login {
        display: none;
    }

    .mobile_menu {
        display: block;
    }

    .header_menu {
        display: block;
        position: fixed;
        list-style:none;
        padding: 30px 10px 0 20px;
        margin: 0;
        box-sizing: border-box;
        width: 200px;
        height: 180px;
        background-color: #FFFFFF;
        top: 5px;
        right: -200px;
        transition: right .2s;
        z-index: 2;
    }

    .hidden_menu_ticker {
        display: none;
    }

    .btn_menu {
        color: #fff;
        background-color: #fff;
        padding: 2px;
        position: absolute;
        top: 15px;
        right: 5px;
        cursor: pointer;
        transition: right .23s;
        z-index: 3;
        width: 20px;
    }

    .btn_menu span {
        display: block;
        height: 2px;
        background-color: #2b343c;
        margin: 5px 0 0;
        transition: all .1s linear .23s;
        position: relative;
    }

    .btn_menu span.first_span {
        margin-top: 0;
    }

    .hidden_menu_ticker:checked ~ .btn_menu {
        position: fixed;
        right: 170px;
        background-color: #FFFFFF;
    }

    .hidden_menu_ticker:checked ~ .header_menu {
        right: 0;
    }
    .hidden_menu_ticker:checked ~ .btn_menu span.first_span {
        transform: rotate(45deg);
        top: 7px;
        background-color: #2b343c;
    }
    .hidden_menu_ticker:checked ~ .btn_menu span.second_span {
        opacity: 0;
    }

    .hidden_menu_ticker:checked ~ .btn_menu span.third_span {
        transform: rotate(-45deg);
        top: -7px;
        background-color: #2b343c;
    }

}

@media only screen and (min-width: 481px) and (max-width: 767px) {

    .logo {
        margin: 20px 0 10px 25px;
    }

    .menu_main li {
        padding: 0 5px;
        border: none;
    }

    .menu_main a {
        font-size: 1rem;
    }

    .login {
        margin: 30px 5px 0 0;
    }

    .login img {
        display: none;
    }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {

}


