@font-face {
    font-family: "Poppins";
    src: url('../../assets/fonts/Poppins-Medium.otf') format("opentype");
    font-style: normal;
}

.layout_container {
    font-family: Poppins, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url('../../assets/img/background.jpg') center 100% no-repeat fixed;
    background-size: cover;
}

.content {
    margin-top: 75px;
    flex: 1 0 auto;
}